@font-face {
  font-family:"iconfont";
  /* Project id 3291744 */
  src: url('//at.alicdn.com/t/font_3291744_ji926xwka6.woff2?t=1648697936988') format('woff2'), url('//at.alicdn.com/t/font_3291744_ji926xwka6.woff?t=1648697936988') format('woff'), url('//at.alicdn.com/t/font_3291744_ji926xwka6.ttf?t=1648697936988') format('truetype');
}
.iconfont {
  font-family:"iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-baoxiao:before {
  content:"\e608";
}
.icon-tongji:before {
  content:"\e856";
}
.icon-icon_function_tongji:before {
  content:"\e8ac";
}
.icon-lunzhuan:before {
  content:"\e74b";
}
.icon-quanzi:before {
  content:"\e628";
}
.icon-lungang:before {
  content:"\e74c";
}
.icon-lizhi:before {
  content:"\e604";
}
.icon-jiediao:before {
  content:"\e60b";
}
.icon-chuzhi:before {
  content:"\e733";
}
.icon-xiaoxi:before {
  content:"\e638";
}
.icon-zhuanyi:before {
  content:"\e6c9";
}
.icon-tiaobo:before {
  content:"\e627";
}
.icon-zhuanhuan:before {
  content:"\e625";
}
.icon-navicon-dbsqdsp:before {
  content:"\e657";
}
.icon-cangku:before {
  content:"\e622";
}
.icon-zichanguanli:before {
  content:"\e61b";
}
.icon-xiujia:before {
  content:"\e70e";
}
.icon-wj-wjsh:before {
  content:"\e772";
}
.icon-shenpibohui:before {
  content:"\e721";
}
.icon-daishenpi:before {
  content:"\e722";
}
.icon-shenpitongguo:before {
  content:"\e723";
}
.icon-gouzhi:before {
  content:"\e624";
}
.icon-kaoqin:before {
  content:"\e614";
}
.icon-xinxi:before {
  content:"\e63b";
}
.icon-youjianico_zichanluru:before {
  content:"\e650";
}
.icon-zichanzhuanyi:before {
  content:"\e634";
}