/*
  定制 vant-ui 主题
*/
@gray-1: @color-bg; // 背景色
// @gray-3: #8c8c8c; // 边框颜色
// @gray-3: @color-border; // 边框颜色
@black: @color-text; // 组件字体颜色
@blue: @color-blue; // 默认蓝色
@red: @color-red; // 默认红色
// @orange: #FF7500; // 默认橙色

// van-button
// @button-default-height: 36px;
@button-default-background-color: @color-bg;
// @button-plain-background-color: @color-bg;

// van-search
@search-left-icon-color: @color-tip;

// van-cell
@cell-vertical-padding: 10px;
@cell-horizontal-padding: 16px;
@cell-font-size: @font16;
@cell-title-color: @color-tip;
@cell-border-color: @color-border;
// @cell-required-color:#E90000;
@cell-value-color: @color-text;

// van-field
@field-label-color: @color-text;
// @field-input-text-color: #262626;

// van-tabs
@tab-text-color: @color-tip;
@tab-active-text-color: @color-blue;
@tabs-default-color: @color-blue;

// nav-bar
@nav-bar-height: 1.28rem;
@nav-bar-background-color: @color-blue;
@nav-bar-title-text-color: #ffffff;
@nav-bar-text-color: #ffffff;
@nav-bar-icon-color: #ffffff;

// dialog
@dialog-header-padding-top: 10px;
@dialog-header-font-weight: 500;
@dialog-confirm-button-text-color: @color-blue;
// @dialog-background-color: @color-blue;

// @action-sheet-item-text-color: @color-blue;

// 自定义vant样式
body {
  .van-cell,
  .van-field {
    // padding: 10px 15px;
    box-sizing: border-box;
    // font-size: 16px;
    &::after {
      // 默认van-cell
      // position: absolute;
      // box-sizing: border-box;
      // content: ' ';
      // pointer-events: none;
      // right: 16px;
      // bottom: 0;
      // left: 16px;
      // border-bottom: 1px solid @color-border;
      // -webkit-transform: scaleY(0.5);
      // transform: scaleY(0.5);
    }

    // &::after { // 自定义
    //   position: absolute;
    //   box-sizing: border-box;
    //   content: ' ';
    //   pointer-events: none;
    //   top: -50%;
    //   right: 16px;
    //   bottom: -50%;
    //   left: -50%;
    //   border-bottom: 1PX solid @color-border;
    //   -webkit-transform: scale(0.5);
    //   transform: scale(0.5);
    // }
  }
  // // 自定义必填 *
  // .van-cell__title {
  //   position: relative;

  //   &::after {
  //     content: '*';
  //     color: @color-red;
  //     position: absolute;
  //     width: 100%;
  //     font-size: @font16;
  //   }
  // }
  // .van-dialog {
  //   border-radius: 6px;
  //   &__header {
  //     background-color: @color-blue;
  //     color: #ffffff;
  //     padding: 10px 16px;
  //     text-align: left;
  //   }
  // }
  .van-datetime-picker {
    .van-picker-column__item {
      color: @color-text;
      &--selected {
        color: @color-blue;
        font-weight: 500;
      }
    }
  }
}
